*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  padding-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #403f3d;
  background: #e1d4c9;
}
@media screen and (min-width: 768px) {
  body {
    padding-bottom: 40px;
  }
}

main {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

.header {
  padding: 20px 0;
}
.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1440px) {
  .header__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.header .navigation {
  position: fixed;
  bottom: -100px;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  height: 100%;
  padding: 60px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  background: #e1d4c9;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header .navigation {
    padding: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .header .navigation {
    display: contents;
  }
}
.header .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
@media screen and (min-width: 1440px) {
  .header .navigation__list {
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
}
.header .navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navigation__link {
  position: relative;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
}
.header .navigation__link::before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #403f3d;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1440px) {
  .header .navigation__link {
    padding: 16px 0;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media (hover: hover) {
  .header .navigation__link:hover::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.header .navigation .menu-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
}
.header .navigation .menu-link::before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #403f3d;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1440px) {
  .header .navigation .menu-link {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 24px;
    padding: 16px 0;
    gap: 8px;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media (hover: hover) {
  .header .navigation .menu-link:hover::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.header .navigation .menu-link__icon {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1440px) {
  .header .navigation .menu-link__icon {
    width: 20px;
    height: 20px;
  }
}
.header .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .header .control {
    gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .header .control {
    margin-left: 44px;
  }
}
.header .theme-switch {
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
}
.header .theme-switch__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.header .theme-switch__item {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border-radius: 100px;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (hover: hover) {
  .header .theme-switch__item:hover {
    background: #665f55;
    cursor: pointer;
  }
  .header .theme-switch__item:hover .theme-switch__icon {
    color: #e1d4c9;
  }
}
.header .theme-switch__item_active {
  background: #b0907a;
  cursor: default;
  pointer-events: none;
}
.header .theme-switch__item_active .theme-switch__icon {
  color: #e1d4c9;
}
.header .theme-switch__icon {
  color: #403f3d;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .burger-button {
  position: relative;
  padding: 0;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 1px solid #665f55;
  border-radius: 100px;
  outline: none;
}
@media screen and (min-width: 1440px) {
  .header .burger-button {
    display: none;
  }
}
.header .burger-button::before, .header .burger-button::after {
  content: "";
  position: absolute;
  width: 16px;
  border: 1px solid #403f3d;
  border-radius: 100px;
}
.header .burger-button::before {
  top: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header .burger-button::after {
  bottom: 16px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.header.home .logo {
  cursor: default;
  pointer-events: none;
}

.footer__content {
  padding: 60px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  background: #665f55;
  border-radius: 40px;
}
@media screen and (min-width: 768px) {
  .footer__content {
    padding: 100px 60px;
    gap: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__content {
    padding: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__offer {
  width: 100%;
  max-width: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.footer__offer .offer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  color: #e1d4c9;
}
@media screen and (min-width: 768px) {
  .footer__offer .offer__title {
    font-size: 60px;
  }
}
.footer__offer .offer__title_highlight {
  font-style: italic;
  color: #b0907a;
}
.footer__offer .socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.footer__offer .socials__item {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__offer .socials__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (hover: hover) {
  .footer__offer .socials__link:hover {
    background: #e1d4c9;
    border-color: transparent;
  }
  .footer__offer .socials__link:hover .socials__icon {
    color: #403f3d;
  }
}
.footer__offer .socials__icon {
  color: #e1d4c9;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.footer__contact .contact__title {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 1.25;
  color: #e1d4c9;
}
.footer__contact .contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.footer__contact .contact__item,
.footer__contact .contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.footer__contact .contact__link {
  position: relative;
}
.footer__contact .contact__link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e1d4c9;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (hover: hover) {
  .footer__contact .contact__link:hover::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.footer__contact .contact__icon {
  color: #e1d4c9;
}
.footer__contact .contact__description {
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #e1d4c9;
}

.download__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .download__container {
    gap: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .download__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.download__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.download__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .download__title {
    font-size: 60px;
  }
}
.download__title_highlight {
  font-style: italic;
  color: #b0907a;
}
.download__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.download__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .download__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.download__item {
  width: 100%;
  max-width: 200px;
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background: transparent;
  border: 1px solid #665f55;
  border-radius: 100px;
  outline: none;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (hover: hover) {
  .download__item:hover {
    background: #665f55;
    border-color: transparent;
  }
  .download__item:hover .download__icon {
    color: #e1d4c9;
  }
  .download__item:hover .download__text {
    color: #e1d4c9;
  }
}
.download__icon {
  color: #403f3d;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.download__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.4;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.download__text_highlight {
  font-size: 16px;
  line-height: 1.5;
}
.download__image {
  max-width: 630px;
  margin: 0 auto;
}

.resource__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.resource__description {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .resource__description {
    font-size: 60px;
  }
}
.resource__description_highlight {
  font-style: italic;
  color: #b0907a;
}
.resource__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 590px);
  gap: 40px;
}
@media screen and (min-width: 1440px) {
  .resource__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 430px 120px 430px;
  }
}
.resource__item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
@media (hover: hover) {
  .resource__item:hover .resource__image {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media screen and (min-width: 1440px) {
  .resource__item:nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;
  }
}
.resource__item:nth-child(2) {
  display: none;
}
@media screen and (min-width: 1440px) {
  .resource__item:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 1;
    grid-row: 3;
  }
}
.resource__item:nth-child(3) {
  display: none;
}
@media screen and (min-width: 1440px) {
  .resource__item:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 2;
    grid-row: 1;
  }
}
@media screen and (min-width: 1440px) {
  .resource__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2/4;
  }
}
.resource__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.choose__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.choose__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .choose__title {
    font-size: 60px;
  }
}
.choose__title_highlight {
  font-style: italic;
  color: #b0907a;
}
.choose__slider-box {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.choose__slider {
  width: 100%;
  max-width: 480px;
  overflow: hidden;
}
.choose__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.choose__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.choose__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.choose__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}
.choose__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.choose__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}
.choose .bullet__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
.choose .bullet__item {
  width: 40px;
  height: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c1b6ad;
  border-radius: 100px;
}
.choose .bullet__item_active {
  background: #665f55;
}
.choose .arrow__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .choose .arrow__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 44px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.choose .arrow__item {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
}
.choose .arrow__button {
  width: 100%;
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 1px solid #665f55;
  border-radius: 100px;
  outline: none;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (hover: hover) {
  .choose .arrow__button:hover {
    background: #665f55;
    border-color: none;
    cursor: pointer;
  }
  .choose .arrow__button:hover .arrow__icon {
    color: #e1d4c9;
  }
}
.choose .arrow__icon {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.enjoy__container {
  position: relative;
}
.enjoy__video {
  width: 100%;
  height: 552px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
@media screen and (min-width: 768px) {
  .enjoy__video {
    height: 644px;
  }
}
.enjoy__content {
  position: absolute;
  top: 0;
  left: 16px;
  right: 16px;
  height: 100%;
  padding: 60px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .enjoy__content {
    left: 40px;
    right: 40px;
    padding: 100px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .enjoy__content {
    padding: 100px;
  }
}
.enjoy__title {
  width: 100%;
  max-width: 530px;
  font-weight: 600;
  font-size: 42px;
  line-height: 1.15;
  color: #e1d4c9;
}
@media screen and (min-width: 768px) {
  .enjoy__title {
    font-size: 72px;
    line-height: 1.05;
  }
}
.enjoy__title_highlight {
  font-style: italic;
  color: #b0907a;
}
.enjoy__description {
  width: 100%;
  max-width: 530px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e1d4c9;
}
.enjoy__link {
  position: relative;
  width: 100%;
  max-width: 200px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #403f3d;
  background: #e1d4c9;
  border-radius: 100px;
}
@media screen and (min-width: 1440px) {
  .enjoy__link {
    height: 64px;
  }
}
@media (hover: hover) {
  .enjoy__link:hover .enjoy__text {
    -webkit-transform: translate(-83%, -50%);
            transform: translate(-83%, -50%);
  }
  .enjoy__link:hover .enjoy__icon {
    -webkit-transform: translate(83%, -50%);
            transform: translate(83%, -50%);
    opacity: 1;
  }
}
@media screen and (min-width: 1440px) {
  .enjoy__text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1440px) {
  .enjoy__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.menu__title {
  width: 100%;
  max-width: 800px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .menu__title {
    font-size: 60px;
  }
}
.menu__title_highlight {
  font-style: italic;
  color: #b0907a;
}
.menu .filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .menu .filter__list {
    gap: 16px;
  }
}
.menu .filter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
}
.menu .filter__item_active .filter__button {
  color: #e1d4c9;
  background: #665f55;
  border-color: transparent;
}
.menu .filter__item_active .filter__icon {
  background: #e1d4c9;
}
.menu .filter__button {
  padding: 8px 16px 8px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #403f3d;
  background: transparent;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
  outline: none;
}
.menu .filter__icon {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c1b6ad;
  border-radius: 100px;
}
.menu .product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .menu .product__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.menu .product__item {
  width: 100%;
  max-width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #c1b6ad;
  border-radius: 40px;
}
@media (hover: hover) {
  .menu .product__item:hover {
    cursor: pointer;
  }
  .menu .product__item:hover .product__image {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.menu .product__image-box {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 40px;
  overflow: hidden;
}
.menu .product__image {
  border-radius: 40px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu .product__box {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.menu .product__name, .menu .product__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
}
.menu .product__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.menu .product__price {
  margin-top: auto;
}
.menu .refresh-button {
  width: 60px;
  height: 60px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 1px solid #665f55;
  border-radius: 100px;
  outline: none;
}
@media screen and (min-width: 1440px) {
  .menu .refresh-button {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */