*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  padding: 20px 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #403f3d;
  background: #e1d4c9;
}
@media screen and (min-width: 768px) {
  body {
    padding: 40px 0;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

.footer {
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 40px;
  }
}
.footer__container {
  padding: 60px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  background: #665f55;
  border-radius: 40px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    padding: 100px 60px;
    gap: 100px;
  }
}
.footer__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.footer__offer .offer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  color: #e1d4c9;
}
@media screen and (min-width: 768px) {
  .footer__offer .offer__title {
    font-size: 60px;
  }
}
.footer__offer .offer__title_highlight {
  font-style: italic;
  color: #b0907a;
}
.footer__offer .socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.footer__offer .socials__item {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
}
.footer__offer .socials__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__offer .socials__icon {
  color: #e1d4c9;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.footer__contact .contact__title {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 1.25;
  color: #e1d4c9;
}
.footer__contact .contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.footer__contact .contact__item,
.footer__contact .contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.footer__contact .contact__icon {
  color: #e1d4c9;
}
.footer__contact .contact__description {
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #e1d4c9;
}/*# sourceMappingURL=main.css.map */