*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  padding: 20px 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #403f3d;
  background: #e1d4c9;
}
@media screen and (min-width: 768px) {
  body {
    padding: 40px 0;
  }
}

.main {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

.footer__content {
  padding: 60px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  background: #665f55;
  border-radius: 40px;
}
@media screen and (min-width: 768px) {
  .footer__content {
    padding: 100px 60px;
    gap: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__content {
    padding: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__offer {
  width: 100%;
  max-width: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.footer__offer .offer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  color: #e1d4c9;
}
@media screen and (min-width: 768px) {
  .footer__offer .offer__title {
    font-size: 60px;
  }
}
.footer__offer .offer__title_highlight {
  font-style: italic;
  color: #b0907a;
}
.footer__offer .socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.footer__offer .socials__item {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
}
.footer__offer .socials__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__offer .socials__icon {
  color: #e1d4c9;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.footer__contact .contact__title {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 1.25;
  color: #e1d4c9;
}
.footer__contact .contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.footer__contact .contact__item,
.footer__contact .contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.footer__contact .contact__icon {
  color: #e1d4c9;
}
.footer__contact .contact__description {
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #e1d4c9;
}

.download__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .download__container {
    gap: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .download__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.download__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.download__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .download__title {
    font-size: 60px;
  }
}
.download__title_highlight {
  font-style: italic;
  color: #b0907a;
}
.download__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.download__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .download__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.download__item {
  width: 100%;
  max-width: 200px;
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background: #e1d4c9;
  border: 1px solid #665f55;
  border-radius: 100px;
  outline: none;
}
.download__icon {
  color: #403f3d;
}
.download__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.4;
}
.download__text_highlight {
  font-size: 16px;
  line-height: 1.5;
}
.download__image {
  max-width: 630px;
  margin: 0 auto;
}

.resource__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.resource__description {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .resource__description {
    font-size: 60px;
  }
}
.resource__description_highlight {
  font-style: italic;
  color: #b0907a;
}
.resource__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 590px);
  gap: 40px;
}
@media screen and (min-width: 1440px) {
  .resource__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 430px 120px 430px;
  }
}
.resource__item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}
@media screen and (min-width: 1440px) {
  .resource__item:nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;
  }
}
.resource__item:nth-child(2) {
  display: none;
}
@media screen and (min-width: 1440px) {
  .resource__item:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 1;
    grid-row: 3;
  }
}
.resource__item:nth-child(3) {
  display: none;
}
@media screen and (min-width: 1440px) {
  .resource__item:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 2;
    grid-row: 1;
  }
}
@media screen and (min-width: 1440px) {
  .resource__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2/4;
  }
}
.resource__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.choose__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.choose__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .choose__title {
    font-size: 60px;
  }
}
.choose__title_highlight {
  font-style: italic;
  color: #b0907a;
}
.choose__slider-box {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.choose__slider {
  width: 100%;
  max-width: 480px;
  overflow: hidden;
}
.choose__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.choose__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.choose__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.choose__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}
.choose__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.choose__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}
.choose .bullet__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
.choose .bullet__item {
  width: 40px;
  height: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
}
.choose .bullet__button {
  width: 100%;
  height: 100%;
  padding: 0;
  background: #665f55;
  border: none;
  border-radius: 100px;
  outline: none;
}
.choose .arrow__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .choose .arrow__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 44px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.choose .arrow__item {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
}
.choose .arrow__button {
  width: 100%;
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e1d4c9;
  border: 1px solid #665f55;
  border-radius: 100px;
  outline: none;
}

.enjoy__container {
  position: relative;
}
.enjoy__video {
  width: 100%;
  height: auto;
  aspect-ratio: 348/552;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
.enjoy__content {
  position: absolute;
  top: 0;
  left: 16px;
  right: 16px;
  height: 100%;
  padding: 60px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.enjoy__title {
  font-weight: 600;
  font-size: 42px;
  line-height: 1.15;
  color: #e1d4c9;
}
.enjoy__title_highlight {
  font-style: italic;
  color: #b0907a;
}
.enjoy__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e1d4c9;
}
.enjoy__link {
  width: 100%;
  max-width: 200px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #403f3d;
  background: #e1d4c9;
  border-radius: 100px;
}/*# sourceMappingURL=main.css.map */