@use "../abstracts/variables" as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $overlay-background;

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 688px;
    transform: translate(-50%, -50%);
    padding: 16px;
    display: flex;
    gap: 20px;
    background: $page-background;
    border-radius: 40px;

    @media screen and (min-width: 768px) {
      max-width: 800px;
    }

    &__image-box {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
        max-width: 310px;
        border-radius: 40px;
        overflow: hidden;
      }
    }

    &__image {
      border-radius: 40px;
      transform: scale(1.1);
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__button {
      width: 100%;
      padding: 10px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
      background: transparent;
      border: 1px solid $inverse-border;
      border-radius: 100px;
      outline: none;
      transition: color 250ms $timing-function, background 250ms $timing-function, border-color 250ms $timing-function;

      @media (hover: hover) {
        &:hover {
          color: $inverse-text;
          background: $container-background;
          border-color: transparent;
          cursor: pointer;
        }
      }
    }
  }

  .product {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__name {
      font-weight: 600;
      font-size: 24px;
      line-height: 1.25;
    }

    &__description {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .size,
  .additive {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__name {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    &__item {
      padding: 8px 12px 8px 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
      border: 1px solid $primary-border;
      border-radius: 100px;
      transition: background 250ms $timing-function, border-color 250ms $timing-function;

      &_active {
        background: $container-background;
        border-color: transparent;
        cursor: default;
        pointer-events: none;

        .size__icon,
        .additive__icon {
          background: $page-background;
        }

        .size__text,
        .additive__text {
          color: $inverse-text;
        }
      }

      @media (hover: hover) {
        &:hover {
          background: $container-background;
          border-color: transparent;
          cursor: pointer;

          .size__icon,
          .additive__icon {
            background: $page-background;
          }

          .size__text,
          .additive__text {
            color: $inverse-text;
          }
        }
      }
    }

    &__icon {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $primary-border;
      border-radius: 100px;
      transition: background 250ms $timing-function;
    }

    &__text {
      color: $primary-text;
      transition: color 250ms $timing-function;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
  }

  .alert {
    padding: 12px 0;
    display: flex;
    gap: 8px;
    border-top: 1px solid $primary-border;

    &__icon {
      flex-shrink: 0;
    }

    &__description {
      font-weight: 600;
      font-size: 10px;
      line-height: 1.4;
    }
  }
}