$primary-font-family: "Inter", sans-serif;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

:root {
  --primary-text: #403f3d;
  --inverse-text: #e1d4c9;
  --accent-text: #b0907a;
  --page-background: #e1d4c9;
  --container-background: #665f55;
  --overlay-background: rgba(64, 63, 61, 0.8);
  --primary-border: #c1b6ad;
  --inverse-border: #665f55;

  --dark-primary-text: #e1d4c9;
  --dark-inverse-text: #e1d4c9;
  --dark-accent-text: #b0907a;
  --dark-page-background: rgba(41, 40, 38, 1);
  --dark-container-background: rgb(64, 63, 61);
  --dark-overlay-background: rgba(41, 40, 38, 0.8);
  --dark-primary-border: #665f55;
  --dark-inverse-border: #c1b6ad;
}

$primary-text: var(--primary-text);
$inverse-text: var(--inverse-text);
$accent-text: var(--accent-text);

$page-background: var(--page-background);
$container-background: var(--container-background);
$overlay-background: var(--overlay-background);

$primary-border: var(--primary-border);
$inverse-border: var(--inverse-border);

$dark-primary-text: var(--dark-primary-text);
$dark-inverse-text: var(--dark-inverse-text);
$dark-accent-text: var(--dark-accent-text);

$dark-page-background: var(--dark-page-background);
$dark-container-background: var(--dark-container-background);
$dark-overlay-background: var(--dark-overlay-background);

$dark-primary-border: var(--dark-primary-border);
$dark-inverse-border: var(--dark-inverse-border);