$primary-font-family: "Inter", sans-serif;

$primary-text: #403f3d;
$inverse-text: #e1d4c9;
$accent-text: #b0907a;

$page-background: #e1d4c9;
$container-background: #665f55;
$overlay-background: rgba(64, 63, 61, 0.8);

$primary-border: #c1b6ad;
$inverse-border: #665f55;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);